.App {
  text-align: center;
}

.App-header {
  background-color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-footer {
  color: grey;
  margin: 30px;
}
