.Synonyms {
  padding-bottom: 20px;
}
.Synonyms ul {
  padding: 0px;
  color: #497491;
  margin: 0px;
}
.Synonyms li {
  display: inline-block;
  padding-right: 7px;
  padding-left: 7px;
  color: #497491;
  font-weight: bold;
  line-height: 1;
}
